*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	border 1px solid #000;
}

.square {
	background-color: #2ecc71;
	border: 2px solid black;
}

.hover {
	background-color: black;
}